@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=PT+Serif:ital@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

a {
  display: flex;
  align-items: center;
}

::selection {
  background-color: yellow;
}

#section_footer {
  width: 100%;
  background: #215f4a;

  p {
    color: #ffffff;
    font-size: 0.5em;
  }
}

div.dash-member {
  padding: "3em";
  justify-content: center;
  border-radius: 30px;
}

div.dash-member p {
  display: flex;
  align-items: center;
  font-size: 80px;
  color: black;
}
